/* Main CSS Reset & Font */
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}

/* Styling for Individual Bot */
.bot-column {
  border: 1px solid #ccc;  /* A border to differentiate bots */
  padding: 10px;
  margin: 5px 0;  /* A little vertical space between bots, no horizontal margin as Bootstrap handles this */
  box-sizing: border-box;
  text-align: center; /* if you want to center the content of each bot */
}

/* Styling for the bot-army container */
.bot-army {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aquamarine;
}

/* Styling for centered text within rows */
.text-center {
  text-align: center;
}




